.word {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  border-right: 2px solid var(--border-color);
  color: var(--border-color);
  text-shadow: 0 0 2px var(--base-box-shadow-color);
  transition: background-color .2s, font-size .2s, box-shadow .2s;
  position: relative;
}

.word::after {
  content: '';
  position: absolute;
  top: 0;
  right: -12px;
  background-image: url('../../../../../assets/puzzle-shape.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 12px;
  height: 40px;
  z-index: 2;
  filter: drop-shadow(1px -1px 1px black);
}

.dragged {
  box-shadow: 0px 0px 20px 2px blue;
}

.hidden {
  background-image: none !important;
}